body {
    display: flex;
    margin: 0;
    padding: 1em 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-color: #f6f6f6;
    overflow: hidden;
    overflow-y: scroll;
}

button {
    border: none;
    border-radius: 14px;
    background: #fffcfc;
    box-shadow: 6px 6px 12px #c7c5c5,
        -6px -6px 12px #ffffff;
    cursor: pointer;
}

button:hover {
    transform: scale(1.2);
    transition: 10ms;
}

.main {
    position: relative;

    padding: 1em 3em;
    background-color: #fffcfc;
    border-radius: 10px;
    box-shadow: 6px 6px 12px #c7c5c5,
        -6px -6px 12px #ffffff;
}

.dataset-viewer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em 0em 1em 0em;
    margin: 0em 1em 10px 0em;

    background-color: #fffcfc;
    border-radius: 10px;
    box-shadow: 6px 6px 12px #c7c5c5,
        -6px -6px 12px #ffffff;


}

#link {
    --border-color: #fc531658;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, var(--border-color) 50%, transparent 50%),
        linear-gradient(90deg, var(--border-color) 50%, transparent 50%),
        linear-gradient(0deg, var(--border-color) 50%, transparent 50%),
        linear-gradient(0deg, var(--border-color) 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 8px 2px, 8px 2px, 2px 8px, 2px 8px;
    background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
    border-radius: 5px;
    padding: 1em;
    animation: dash 2.5s linear infinite;
}

@keyframes dash {
    to {
        background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
    }
}

.dataset-viewer>a {
    color: #fc5416;
    text-decoration: none;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 1em;
}

form label {
    margin-right: 5px;
}

form button {
    padding: 10px 1em;
}

#username-placeholder {
    color: rgb(0, 183, 255);
}

.user-logged-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-instructions {
    font-weight: bold;
}

.user-logged-in>hr {
    width: 50%;
    margin-bottom: 1em;
    margin-top: -1em;
    border: none;
    border-top: 1px dashed #838383;
}

.canvas-container {
    width: 400px;
    height: 400px;
    overflow: hidden;

    /* box shadow */
    border-radius: 50px;
    background: #fffcfc;
    box-shadow: 8px 8px 16px #d9d6d6,
        -8px -8px 16px #ffffff;
}

.actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}

.actions button {
    padding: 10px 2em;
}

.actions button:disabled {
    text-decoration: line-through;
    opacity: 50%;
}